<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
    <Header>
        <Title>Add a HACK item</Title>
        <Author>Clyde D'Souza</Author>
        <Shortcut>htmlhack</Shortcut>
        <Description>Inserts a single HACK item in the page which can then be seen in the task list.</Description>
        <SnippetTypes>
            <SnippetType>Expansion</SnippetType>
        </SnippetTypes>
    </Header>
    <Snippet>
        <Declarations>
            <Literal>
                <ID>hackDescription</ID>
                <ToolTip>Enter a suitable description for this HACK item.</ToolTip>
                <Default>Need to redefine the logic here.</Default>
            </Literal>
        </Declarations>
        <Code Language="html">
<![CDATA[
<!-- HACK: $hackDescription$ -->
$end$]]>
        </Code>
    </Snippet>
</CodeSnippet>